footer.footer
	.container
		.footer__logo
			a(href="#") #[img(src="img/logo.png" alt="Логотип")]
		
		ul.footer__list
			li.footer__item
				a(href="#") О нас
			
			li.footer__item
				a(href="#") Галарея
			
			li.footer__item
				a(href="#") Новости
			
			li.footer__item
				a(href="#") Контакты
		
		p.footer__coopyright ООО “Организация” 2020. Все права защищены