header.header 
	.container
		.logo
			a(href="#") #[img(src="img/logo.png" alt="Логотип")]
		
		nav.nav
			ul.nav__list
				li.nav__item
					a(class="active" href="#") Главная

				li.nav__item
					a(href="#") О нас

				li.nav__item
					a(href="#") Контакты
				
				li.nav__item
					a(href="#") Поиск
				
				li.nav__item
					a(href="tel:+798788787") +7 (987) 887-87
