extends ../layout/layout

block variables

	- var title = "Главная"


block header
	include ../includes/header
	include ../includes/main-header

block content
	include ../includes/content-main

block footer
	include ../includes/footer